<div id="boardform">
<h1> Admin Panel </h1>
<h2> Add Board </h2>
<form action="/createboard" method="POST">
    <label>Path: <input type="text-area" name="upath" /> </label>
    <br>
    <label>Name: <input type="text-area" name="name" /></label>
    <br>
    <label>Description: <input type="text-area" name="description" /> </label>
    <br>
    <input type="submit" name="submit" />
</form>
</div>
