html, body {
	background: #c7d3fa;
	color: #800000;
}
#op_post {
  background-color: rgb(205, 209, 236);
  box-shadow: 2px, 2px, rgba(0,0,0,.5);
  border-right:1px solid black;
  border-bottom:1px solid black;
  line-height:4em;
  margin: 2vw 2vw 2vw 2vw;
  padding-left: 10px;
  padding-right: 10px;
}
 
#post {
  background-color: rgb(205, 209, 236);
  box-shadow: 2px, 2px, rgba(0,0,0,.5);
  border-right:1px solid black;
  border-bottom:1px solid black;
  line-height:4em;
  margin: 2vw 2vw 2vw 4vw;
  padding-left: 10px;
  padding-right: 10px;
} 

#board-links {
  background: rgb(190, 193, 277);
	color: #999999;
}
#forms{
  width: 25%;
}

.important {
  color: red;
}